.main{
    width: 50%;
    height: 100%;
    margin:10% 25% 5% 25%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.container{
    flex-direction:row;
    display:inherit;
    width: 50%;
    height: 30px;
    
}
.container input{
    justify-content: space-between;
    margin:1%;
    width: 100%;
}

.btns{
    flex-direction: column;
    display: inherit;
    width: 50%;
    height: 20px;
    margin:50px 20%;
}
.btns button:first-child{
    background-color: green;
    color: white;
}
.btns button:nth-child(2){
    background-color: red;
    color: white;
}
/*.btns button:last-child{
    background-color: aqua;
}*/
.resDiv{
    background-color: antiquewhite;
    width: 100%;
    margin:10px 25%;
    padding:25px;
    align-items: center;
    display: inherit;
    flex-direction: column;
    border-radius: 30px;
}
#modalEdit{
    display: flex;
    margin:10% 25%;
    width:50%;
    height: fit-content;
    background-color: yellowgreen;
    align-items: center;
    justify-content: center;
    padding:5%;
    position: fixed;
    visibility: hidden;
}

h1{
    color: black;
}

