
#modalEdit{
    display: flex;
    margin:10% 25%;
    width:50%;
    height: fit-content;
    background-color: yellowgreen;
    align-items: center;
    justify-content: center;
    padding:5%;
    position: fixed;
    visibility: hidden;
}


